#Abautme{
    font-size: 40px;color: blue;text-align: center;
}
#Otabek{
    color: darkblue;
}
h3{
    text-align: center;font-size: 35;
}
p{
    text-align: center;font: 30;
}
#o{
    color: aqua;
}
#t{
    color: gold;
}
#a{
   color: indianred;
}
#b{
    color: black;
}
#k{
    color: brown;
}
#tepaga{
    text-align: center; color: black; font-size: 30px;
}
